body{
    color: #000000;
    background-color: rgb(45, 45, 145);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

header{
    text-align: center;
}

section{
    color: black;
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

footer{
    text-align: center;
}

div>img{
    margin-left: 25px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#msg{
    text-align: center;
}


